torch
torchvision
transformers
scikit-learn
numpy
pandas
pillow
tqdm
matplotlib
gdown
streamlit
groq
python-dotenv
pypdf

opencv-python-headless

grad-cam
lime
scikit-image

sentencepiece
safetensors
protobuf>=3.20.3,<4

huggingface-hub
tokenizers
